.footer {
    padding: 20px;
}
.footer p{
    margin-bottom: 0;
    font-size: 12px;
}
.footer a{
    color: #8892B0;
    display: none;
}

@media only screen and (max-width: 576px) {
    .footer {
        display: block;
    }
}

